Django
South
django-guardian
pip install git+git://github.com/toastdriven/django-tastypie#egg=django-tastypie
MySQL-python
pyyaml
django-debug-toolbar
git+git://github.com/dcramer/django-devserver#egg=django-devserver
sqlparse
werkzeug
guppy
line_profiler

